<form action="/search" method="get" id="search">
  <h1><a href="/">Search<span>Party</span></a></h1>
  <input type="text" name="q" value="<%= query %>" id="q"/>
  <input type="submit" value="Search"/>
</form>
