body {
  padding: 18px 36px;
  color: #333;
}

h1 {
  float: left;
  font-size: 24px;
  color: #99A;
  margin-right: 18px;
}
h1 span {
  color: #667;
}
h1 a       { color: inherit; }
h1 a:hover { text-decoration: none; }

.home form#search {
  width: 600px;
  margin: 10% auto;  
}

form#search input#q {
  width: 300px;
/*  font-size: 24px;*/
  color: #999;
}

form#search input:focus {
  color: #333;
}

#services {
  padding-left: 550px;
  width: 250px;
  margin-top: 1em;
}

.service {
  position: relative;
  height: 250px;
  overflow: hidden;
  width: 249px;
  float: left;
  border-right: 1px solid #EEE;
}

#google.service {
  width: 549px;
  margin-left: -550px;
  height: auto;
}

.service.active {
  width: 100%;
  float: none;
  width: auto !important;
  height: auto;
  margin-left: -550px;
}

.service.inactive {
  display: none;
}

.service.loading {
  height: 200px;
  background: url(../images/loading.gif) no-repeat center;
}

.service .header {
  padding: 1em;
  background-color: #f9f9f9;
}

.service.active .header {
  background-color: #E9E9FF;
}

.service:hover .header {
  background-color: #E9E9FF;
  cursor: pointer;
}

.service .header h2 {
  font-size: 16px;
  color: #666;
  margin: 0;
  background: url(../images/icon-zoom-in.png) no-repeat right center;
}

.service.active .header h2 {
  background-image: url(../images/icon-zoom-out.png);
}

.service .content {
}

ul.result {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.result li {
  margin: 0;
  padding: 0.5em 1em;
}

ul.result li p {
  margin: 0;
}

ul.result li a {
  font-size: 1.25em;
}

ul.result li .url {
  color: green;
}

ul.result li.mine {
  background-color: #FFD;
}

.service .content .all {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5em 1em;
  background-image: url(../images/grad_white.png);
  background-position: left -70px;
  background-repeat: repeat-x;
  text-align: right;
  font-weight: bold;
}

form.customize {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 30%;
  margin-left: -218px;
  background-color: #FFF;
  padding: 18px;
  border: 1px solid #DDD;
}