body {
  padding: 2em;
  color: #333;
}

.home form#search {
  width: 600px;
  margin: 10% auto;  
}

form#search input {
  font-size: 24px;
  color: #999;
}

form#search input:focus {
  color: #333;
}

.home form#search input#q {
  width: 500px;
}

.service {
  width: 200px;
  float: left;
  height: 200px;
  overflow: hidden;
}

.service.active {
  width: 400px;
  height: auto;
}
.service:hover {
  background-color: #E9E9FF;
  cursor: pointer;
}

.service.active:hover {
  background-color: transparent;
}

.service.loading {
  height: 200px;
  background: url(../images/loading.gif) no-repeat center;
}

.service h2 {
  font-size: 20px;
  color: #666;
}

ul.result {
  list-style: none;
  margin: 0 1em;
}

ul.result li {
  margin-bottom: 1em;
}

ul.result li p {
  margin: 0;
}

ul.result li a {
  font-size: 18px;
}

ul.result li .url {
  color: green;
}

ul.result li.mine {
  background-color: #FFD;
}